@import "tailwindcss";

/* color palette theme */
@theme inline {
  --color-primary: var(--color-indigo-800);
  --color-secondary: var(--color-emerald-600);
  --color-tertiary: var(--color-amber-400);
  --color-textcol: var(--color-indigo-950);
  --color-verydark: var(--color-blue-950);
  --color-dark: var(--color-indigo-900);
  --color-mid: var(--color-indigo-400);
  --color-light: var(--color-indigo-100);
  --color-verylight: var(--color-indigo-50);
}